#background {
    height: 725px;
    background-color: #d9c2a3;
}
body {
    background-color: #fcfbfb; 
    
}
div #hero-img{
    text-align: center;
    margin: 0 auto;
    max-width: 1600px;
}
main section {
    text-align: center;
    margin: 0 auto;
    width: ;

}
h2{
    text-align: center;
}
header {
    background-color:rgba(20,30,13, .7);
    
}
nav a:hover {
    background-color: black;
}
.msg {
    text-align: center;
    background-color: rgba(20,30,13, .7)
}

nav a:hover {
    background-color: black;
   
}    

.icon {
    width: 80px;
}
nav a {
    text-align: center;
    background-color: #fcfbfb;
    text-decoration: none;
}   
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
    
}

footer p {
    font-size: 1.2em;
}    
       